# extras
Pipfile*
results*

*.pyc
__pycache__

.DS_Store

# pycharm
.idea

# vscode
.vscode

# data
amazon-massive-dataset-1.0/*
corpus/*


# log
**/log/**
*.log

# save
**/save/**

# .bak.py
*.bak.py

# compile files
build
dist
*.egg-info

# configs


.ipynb_checkpoints



*.egg-info
pre-trained-models/
